main {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  max-width: 1225px;
  padding: 46px 22px 130px 58px;
  margin: 0 auto;
}
h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 81px;
  letter-spacing: -0.015em;
  max-width: 519px;
  margin-top: 102px;
}
p {
  font-size: 18px;
  line-height: 153.5%;
  letter-spacing: 0.005em;
  max-width: 460px;
  margin: 47px 0 66px;
}
.hero {
  max-width: 480px;
}
.learn_link {
  font-size: 19px;
  font-weight: 700;
  line-height: 153.5%;
  letter-spacing: -0.045em;
  text-decoration: none;
  padding: 18px 29.2px 17px 29.25px;
  border: 1px solid #000;
  border-radius: 13px;
  color: #fff;
  background-color: #000;
  transition: 0.5s;
}
.learn_link:hover,
.learn_link:focus {
  color: #000;
  background-color: #fff;
  transition: 0.5s;
}
.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 479px;
  margin-top: 121px;
}