header {
  width: 100%;
  /* background-color: rgb(112, 176, 232); */
  font-size: 15px;
  color: #686868;
  letter-spacing: -0.05em;
}
.header_cont {
  display: flex;
  /* gap: px; */
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  padding: 21px 40px;
  margin: 0 auto;
}
.logo {
  height: 26.58px;
  padding-top: 4px;
}
.logo_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 524px;
  width: 100%;
}
nav {
  display: flex;
  gap: 40px;
  color: #686868;
}
.link_icon {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #686868;
  transition: 0.4s;
}
.link_icon:hover,
.link_icon:focus {
  color: #000;
  transition: 0.4s;
}
.navlink {
  text-decoration: none;
  color: #686868;
  transition: 0.4s;
}
.navlink:hover,
.navlink:focus {
  color: #000;
  transition: 0.4s;
}
.log_reg {
  display: flex;
  gap: 20px;
}
.log , .reg {
  text-decoration: none;
  color: #686868;
  padding: 11px 21px 10.4px;
  border: 2px solid transparent;
  border-radius: 14px;
  transition: 0.4s;
}
.reg {
  border-color: #686868;
}
.log:hover , 
.log:focus{
  color: #000;
  transition: 0.4s;
}
.reg:hover , 
.reg:focus {
  color: #000;
  border-color: #000;
  transition: 0.4s;
}

.dropdown {
  display: none;
  background-color: #fff;
  position: absolute;
  top: 60px;
  left: 118px;
  padding: 24px 25px 8px 22px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.123);
}
.drop_list {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  margin-bottom: 16px;
}